#hero {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(135deg, var(--color-blue-50), var(--color-white), var(--color-purple-50));

    .hero-information {
        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: .9rem;
        text-transform: capitalize;
        font-weight: 500;
        margin-bottom: 2rem;

        svg {
            width: 1rem;
            height: 1rem;
        }
    }

    h1 {
        font-size: 3.75rem;
        text-align: center;
        width: 60rem;
        margin-bottom: 2rem;

        span:nth-child(1) {
            color: var(--color-blue-600);
        }

        span:nth-child(2) {
            color: var(--color-purple-600);
        }
    }

    p {
        font-size: 1.25rem;
        width: 40rem;
        text-align: center;
        line-height: 2rem;
        margin-bottom: 2rem;
    }

    .hero-buttons {
        display: flex;
        align-items: center;
        gap: 1rem;

        a {
            padding: 1.25rem 2rem;
            text-decoration: none;
            border-radius: .75rem;
            font-weight: 500;
            font-size: 1.125rem;
            transition: transform .2s;

            &:hover {
                transform: scale(103%);
            }
        }

        .start-button {
            background-color: var(--color-blue-600);
            color: var(--color-white);

            &:hover {
                background-color: var(--color-blue-700);
            }
        }

        .demo-button {
            color: var(--color-gray-600);
            border: 2px solid var(--color-gray-200);

            &:hover {
                border: 2px solid var(--color-gray-400);
            }
        }
    }

    .hero-icons {
        position: absolute;
        width: 100%;
        height: 100%;
        filter: opacity(15%);
        pointer-events: none;
        overflow: hidden;

        svg {
            position: absolute;
        }

        svg:nth-child(odd) {
            width: 4rem;
            height: 4rem;
            color: var(--color-blue-700);
            animation: floatingY 3s infinite ease-in-out alternate;
        }

        svg:nth-child(even) {
            width: 3rem;
            height: 3rem;
            color: var(--color-purple-700);
            animation: 
                testtt 3s infinite ease-in-out alternate
            ;
        }

        /* check circle */
        svg:nth-child(1) {
            top: 15%;
            left: 10%;
            animation-delay: -2.5s;
        }

        /* trophy */
        svg:nth-child(2) {
            top: 20%;
            left: 30%;
            animation-delay: -.5s;
        }

        /* sparkles */
        svg:nth-child(3) {
            top: 20%;
            left: 55%;
        }

        /* calendar */
        svg:nth-child(4) {
            top: 35%;
            left: 75%;
            animation-delay: -1.2s;
        }

        /* list todos */
        svg:nth-child(5) {
            top: 25%;
            left: 80%;
        }

        /* target */
        svg:nth-child(6) {
            top: 60%;
            left: 5%;
            animation-delay: -.9s;
        }

        /* zap */
        svg:nth-child(7) {
            top: 80%;
            left: 15%;
            animation-delay: -.8s;
        }

        /* check check */
        svg:nth-child(8) {
            top: 80%;
            left: 25%;
            animation-delay: -2.8s;
        }

        /* clock */
        svg:nth-child(9) {
            top: 75%;
            left: 65%;
            animation-delay: -.3s;
        }

        /* flag */
        svg:nth-child(10) {
            top: 85%;
            left: 75%;
            animation-delay: -1.3s;
        }

        /* bell */
        svg:nth-child(11) {
            top: 80%;
            left: 85%;
            animation-delay: -2.3s;
        }

        /* star */
        svg:nth-child(12) {
            top: 55%;
            left: 90%;
        }
    }
}

@keyframes floatingY {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes floatingX {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(10px);
    }
}

@keyframes testtt {
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(10px, -15px);
    }
}